@media(max-width:568px){


   .logo{
       margin: 0 auto;
   }

    .menu_nav a{
       font-size: .6em;
    }

    .intro_txt h1{
        font-size: 1.4em;
        margin: 20px;
    }

    .intro_txt p{
        font-size: .9em;
    }

    .intro_img{
        width: 90%;
        margin-right: 20px;
    }

    .button{
        padding: 10px;
        font-size: .8em;
        
    }

    .nossos_servicos img{
        margin: 0 auto;
        text-align: center;
        
      
    }

    .nossos_servicos_button{
        margin:0  auto;
        padding: 10px;
        font-size: .8em;
        
    }

    .sobre h2{
      font-size: 1.5em;
    }

    .sobre p {
        font-size: .8em;
        text-align: justify;
    }

    .footer{
        font-size: .6em;
    }
    


}


@media(max-width:667px){
    .nossos_servicos img{
       text-align: center;
       margin: 0 auto;
      
    }


}





